/* font-family */


  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }
  /* header related style */

  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
  }
  .nav-title{
    color: #131313;
    font-size:2rem;
    font-weight: 700;
  }
  nav a{
    text-decoration: none;
    font-size: 1.rem;
    color: #424242;
    font-weight: 500;
  }
